@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Base */
html {
	font-family: "Ropa Sans", "Hiragino Kaku Gothic ProN", "Meiryo",
		sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	margin: 0;
	padding:0;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-width: 1240px;
	
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	padding-left: 0;
}

ul li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: middle;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
  	word-spacing: 0px;
/*   	font-size: 0px; */
}

/*
 * Hero header
 */

/* Slideshow */
.slideshow {
		font-size: 0px;
	overflow: hidden;
	position: relative;
	min-width: 960px;
	height: 465px;
}

.slideshow img {
	display: none;
	position: absolute;
	left: 50%;
/* 	margin-left: -800px; */
}

.no-js .slideshow img:first-child {
	display: inline;
}

/*
 * Page header
 */
.page-header {
	background-color: rgb(255, 255, 255);
	position: absolute;
	width: 100%;
	min-width: 960px;
	z-index: 30;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.no-boxshadow .page-header {
	border-bottom: 1px solid rgb(204, 204, 204);
}

.page-header.sticky {
	position: fixed;
	top: 0;
}

.page-header>.inner {
	: 0 auto;
	/*     width: 960px; */
}

div#clear {
	clear: both;
}

/* Logo */
.site-logo {
	float: left;
	margin-left: 30px;
}

/* Primary nav */
.primary-nav {
	position: relative;
	margin-left: 600px;
	line-height: 65px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color: #222222;
}

.primary-nav li {
	float: left;
}

.primary-nav a {
	display: block;
	padding: 0 1.36em;
}

.primary-nav a:hover {
	background-color: rgb(240, 240, 240);
}

/* Sub nav */
.sub-nav {
	height: 60px;
	float: right;
	position: relative;
	letter-spacing: 0px;
	text-transform: uppercase;
	/*     border: 1px solid red; */
	/*     width: 250px; */
	display: inline-block;
	margin-right: 60px;
	/* 	border: 1px solid blue; */
}

.sub-nav li {
	/*     float: right; */
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	/* 	 border: 1px solid red; */
	vertical-align: middle;
}

.sub-nav a {
	font-size: 0.7em;
	display: block;
	padding: 0 0.5em;
}

.sub-nav li input {
	width: 120px;
	height: 20px;
	vertical-align: middle;
	border: 0.5px solid #d2d2d2;
	line-height: center;
}

.sub-nav li a input {
	margin: 0;
	padding: 0;
	width: 60px;
	height: 22px;
	vertical-align: middle;
	border: 0px;
	background: #fff;
}


/* search button */
/* Slideshow */
#slideshow {
/* 	float: left; */
	width: 100%;
	min-height: 350px;
	margin: 0;
	padding :0;
}

.slide1 {
	margin: 0;
	padding: 0;
	height: 350px;
	position: relative;
	background-color: #c0c0c0;
	width: 30%;
	border: 0;
	display: inline-block;
/* 	border: 1px solid #0000ff; */
}

.slide2 {
	margin: 0;
	padding: 0;
	height: 350px;
	position: relative;
	background-color: #808080;
	width: 40%;
	display: inline-block;
/* 	border: 1px solid #0000ff; */
}

.slide3 {
	margin: 0;
	padding: 0;
	position: relative;
	height: 350px;
	background-color: #c0c0c0;
	width: 30%;
	display: inline-block;
/* 	border: 1px solid #0000ff; */
}

/* body 태그 */


body div#wrap2{
	margin:0;
	padding:0;
	width: 1240px;
	margin: 0 auto;
	position:relative;
	min-height: 2600px;
	background-color: #fff;
}

.first_div {
	margin: 0;
	padding: 0;
	width: 1240px;
	display: inline;
	position: absolute;
}


.login {
	float: left;
	margin: 0;
	padding: 0;
	height: 350px;
	background-color: #c0c0c0;
	top: 50px;
	width: 604px;
	display: inline;
/* 	border: 1px solid #0000ff; */
}
.category {
	float: right;
	margin: 0;
	padding: 0;
	height: 350px;
	background-color: #c0c0c0;
	top: 50px;
	right: 0;
	width: 604px;
/* 	border: 1px solid #0000ff; */
}
.second_div {
	margin: 0;
	padding: 0;
	position: relative;
}
#div_c1 {
	float: left;
	margin: 0;
	padding: 0;
	height: 280px;
	background-color: #c0c0c0;
	width: 286px;
	margin-right: 32px;
}
#div_c2 {
	float: left;
	margin: 0;
	padding: 0;
	height: 280px;
	background-color: #c0c0c0;
	width: 286px;
}
#body_txt1 {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	height: 200px;
}
#process_img {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	background-color: #c0c0c0;
	height: 400px;
}
#body_txt2 {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	height: 150px;
}
#body_txt3 {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	height: 60px;
}
#body_txt4 {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	height: 100px;
}
#div_g1 {
	float: left;
	margin: 0;
	padding: 0;
	height: 280px;
	background-color: #c0c0c0;
	width: 392px;
	margin-right: 32px;
}
#div_g2 {
	float: left;
	height: 280px;
	background-color: #c0c0c0;
	width: 392px;
}
#cam {
	float: left;
	width:180px;
	background-color: #6d8dfc;
	height: 35px;
	vertical-align: middle;
	line-height: center;
	margin-right: 32px;
	text-align: center;
	margin-top: 20px;
	padding-top: 13px;
	margin-left: 424px;
}
#inv {
	float: left;
	width:180px;
	background-color: #86fde8;
	height: 35px;
	vertical-align: middle;
	line-height: center;
	text-align: center;
	margin-top: 20px;
	padding-top: 13px;
}
#body_caminv {
	float: left;
	margin: 0;
	padding: 0;
	width: 1240px;	
	height: 150px;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 20px;
}

#comlist1 {
	float: left;
	width:180px;
	height:100px;
	background-color: #c0c0c0;
	margin-right: 32px;
}
#comlist2 {
	float: left;
	width:180px;
	height:100px;
	background-color: #c0c0c0;
	
}



/* footer 영역 */

footer {
	height:300px;
	background-color: #373737;
	padding-top: 30px;
    padding-bottom: 40px;
	
}
#foot_container {
	width:1240px;
	height:300px;
	margin: 0 auto;
	position:relative;

}

.f_div1 {
	float: left;
	width:392px;
	height:100px;
	background-color: #5b5b5b;
}

.f_div2 {
	width:816px;
	height:100px;
	background-color: #5b5b5b;
	position:absolute;
	right:0px;
}


/* Social links */
.social-links {
    float: left;
}
.social-links li {
    float: left;s
}
.social-links li:first-child {
    margin-left: 0;
}
.social-links a {
/*     border: 1px solid rgb(153, 153, 153); */
    display: block;
    padding: 0px;
}
.social-links .label {
    display: block;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.social-links .label:before {
/*     content: url(img/sprites.png); */
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.social-links .item-facebook .label:before {
    margin-left: 0px;
}
.social-links .item-twitter .label:before {
    margin-left: 0px;
}
.social-links .item-facebook img {
	width: 33px;
	height: 33px;
}
.social-links .item-twitter img {
	width: 33px;
	height: 33px;	
	margin-right: 10px;
}



/* Copyright */
.copyright {
    color: rgb(102, 102, 102);
    font-size: 12px;
    padding: 6px 0;
    float: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Back-to-Top button */
.back-to-top {
    background-color: #e2e2e2;
    border-width: 0;
    cursor: pointer;
    display: block;
    margin: 0;
    width: 120px;
    height:60px;
    position:fixed;
    bottom:50px;
	left: 60px;
	color:white;	
}
.back-to-top .label {
    display: block;
    height: 18px;
    margin:auto;
    overflow: hidden;
    width: 26px;
/*     border: 1px solid red; */
    width: 120px;
    height:45px;
    text-align: center;
    padding-top: 15px;
}
.back-to-top .label:before {

    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    line-height: center;
    text-align: center;
    
}
.no-js .back-to-top {
    display: none;
}

















