<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FunWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>net.member.action.MemberFrontController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>*.mf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>investment</servlet-name>
    <servlet-class>net.Investment.action.InvestmentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>investment</servlet-name>
    <url-pattern>*.im</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>investRequest</servlet-name>
    <servlet-class>net.investRequest.action.InvestRequestFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>investRequest</servlet-name>
    <url-pattern>*.iR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>board</servlet-name>
    <servlet-class>net.board.action.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InformationUseFrontController</servlet-name>
    <servlet-class>net.InformationUse.action.InformationUseFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationUseFrontController</servlet-name>
    <url-pattern>*.iU</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeFrontController</servlet-name>
    <servlet-class>net.notice.action.NoticeFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeFrontController</servlet-name>
    <url-pattern>*.no</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionFrontController</servlet-name>
    <servlet-class>net.question.action.QuestionFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionFrontController</servlet-name>
    <url-pattern>*.qU</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdealMainController</servlet-name>
    <servlet-class>net.Main.Action.IdealMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdealMainController</servlet-name>
    <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mail</servlet-name>
    <servlet-class>net.Email.action.mailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>*.em</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFrontController</servlet-name>
    <servlet-class>net.Admin.action.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFrontController</servlet-name>
    <url-pattern>*.ad</url-pattern>
  </servlet-mapping>
</web-app>